{% extends "layout.html" %}

{% block title %}
    Agregar Usuario
{% endblock %}

{% block main %}
<div class="container mt-3">
    <h2>Agregar Usuario</h2>
    <form id="userForm" method="post">
        <div class="mb-3">
            <label for="rut_register" class="form-label">RUT del Usuario</label>
            <input id="rut_register" name="rut" autofocus class="form-control" autocomplete="off" type="text" placeholder="RUT" required>
        </div>
        <div class="mb-3">
            <label for="name_register" class="form-label">Nombre del Usuario</label>
            <input id="name_register" name="name" autofocus class="form-control" autocomplete="off" type="text" placeholder="Nombre" required>
        </div>
        <div class="mb-3">
            <label for="mail_register" class="form-label">Correo del Usuario</label>
            <input id="mail_register"name="mail" autofocus class="form-control" autocomplete="off" type="text" placeholder="Correo" required>
        </div>
        <div class="mb-3">
            <label for="password_register" class="form-label">Contraseña del Usuario</label>
            <input id="password_register" name="password" class="form-control" autocomplete="off" type="password" placeholder="Contraseña" required>
        </div>

        <div class="mb-3">
            <label for="password_confirmation_register" class="form-label">Contraseña del Usuario</label>
            <input id="password_confirmation_register" name="confirmation" class="form-control" autocomplete="off" type="password" placeholder="Confirmar contraseña" required>
        </div>
        <div class="mb-3">
            <label for="permisos" class="form-label">Tipo de Permisos</label>
            <select id="permisos" class="form-select" name="permisos" required>
                <option disabled selected>Seleccione...</option>
                <option value="normal">Normal</option>
                <option value="normal">Bibliotecario</option>
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Registrar Usuario</button>
    </form>
</div> 
<script>
    function formateaRut(rut) {
        var actual = rut.replace(/[^0-9kK]/g, "").replace(/k/g, "K");

        if (actual != '' && actual.length > 1) {
            var sinPuntos = actual.replace(/\./g, "");
            var actualLimpio = sinPuntos.replace(/-/g, "");
            var inicio = actualLimpio.substring(0, actualLimpio.length - 1);
            var rutPuntos = "";
            var i = 0;
            var j = 1;
            for (i = inicio.length - 1; i >= 0; i--) {
                var letra = inicio.charAt(i);
                rutPuntos = letra + rutPuntos;
                if (j % 3 == 0 && j <= inicio.length - 1) {
                    rutPuntos = "." + rutPuntos;
                }
                j++;
            }
            var dv = actualLimpio.substring(actualLimpio.length - 1);
            rutPuntos = rutPuntos + "-" + dv;
            return rutPuntos.substr(0, 12); // Asegurarse de que el RUT no exceda los 12 caracteres
        }
        return actual; // Retorna el RUT procesado si no es lo suficientemente largo
    }

    document.getElementById('rut_register').addEventListener('input', function() {
        this.value = formateaRut(this.value);
    });
</script>
{% endblock %}
