{% extends "layout.html" %}

{% block title %}
Biblioteca
{% endblock %}

{% block main %}
<div class="container mt-4">
<!-- Search and filter section -->
<div class="row mb-3 align-items-center">
    <form class="col">
        <div class="row g-3 align-items-center">
            <div class="col">
                <input type="text" class="form-control" id="search-input" name="busqueda" placeholder="Buscar libros...">
            </div>
            <div class="col-auto">
                <button class="btn btn-primary" type="button" onclick="applySearch()">Buscar</button>
            </div>
            <div class="col-auto">
                <button class="btn btn-secondary" type="button" onclick="clearSearch()">Limpiar</button>
            </div>
            <div class="col-auto" style="color: #007bff">
                <span>Ordenar por</span>
            </div>
            <div class="col-auto">
                <select class="form-select" id="orderSelect" onchange="applyOrder()">
                    <option value="titulo" selected>Título</option>
                    <option value="autor">Autor</option>
                    <option value="anio">Año</option>
                    <option value="genero">Género</option>
                    <option value="stock">Stock</option>
                </select>
            </div>
            <div class="col-auto">
                <select class="form-select" id="directionSelect" onchange="applyOrder()">
                    <option value="ASC" selected>Ascendente</option>
                    <option value="DESC">Descendente</option>
                </select>
            </div>
        </div>
    </form>
</div>


    <!-- Table of books -->
    <div class="table-responsive">
        <table class="table" id="books-table">
            <thead>
                <tr>
                    <th scope="col">Título</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Año</th>
                    <th scope="col">Género</th>
                    <th scope="col">Stock</th>
                </tr>
            </thead>
            <tbody>
                <!-- The book entries will be dynamically inserted here by JavaScript -->
            </tbody>
        </table>
    </div>  

    <!-- Pagination buttons -->
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
            <!-- Dynamically create page number buttons -->
            <li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
        </ul>
    </nav>
</div>

<script>
    // Load books when page is loaded
    document.addEventListener('DOMContentLoaded', function() {
        // Call updateTable initial books
        updateTable({{ books|tojson }});
    });

    function applySearch() {
        var searchTerm = document.getElementById("search-input").value;
        var newUrl = `/biblioteca?search=${encodeURIComponent(searchTerm)}`;

        history.pushState(null, '', newUrl);

        fetch(newUrl, {
            method: 'GET',
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            }
        })
        .then(response => response.json())
        .then(data => {
            updateTable(data.books);
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }

    function updateTable(books) {
        var tableBody = document.getElementById("books-table").getElementsByTagName("tbody")[0];
        tableBody.innerHTML = "";

        books.forEach(book => {
            var row = tableBody.insertRow();
            row.insertCell(0).textContent = book.titulo;
            row.insertCell(1).textContent = book.autor;
            row.insertCell(2).textContent = book.anio;
            row.insertCell(3).textContent = book.genero;
            row.insertCell(4).textContent = book.stock;
        });
    }

    function applyOrder() {
        var selectedOrder = document.getElementById("orderSelect").value;
        var selectedDirection = document.getElementById("directionSelect").value;

        // Get the current URL search term
        var urlParams = new URLSearchParams(window.location.search);
        var searchTerm = urlParams.get('search') || '';

        // Build new URL including both and order parameters
        var newUrl = `/biblioteca?search=${encodeURIComponent(searchTerm)}&o=${selectedOrder}&d=${selectedDirection}`;

        // Update URL
        history.pushState(null, '', newUrl);

        // Make the AJAX call
        fetch(newUrl, {
            method: 'GET',
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            }
        })
        .then(response => response.json())
        .then(data => {
            updateTable(data.books);
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
   
    function clearSearch() {
        var newUrl = `/biblioteca`;
    
        history.pushState(null, '', newUrl);
    
        // Realizar la solicitud AJAX para recargar los datos
        fetch(newUrl, {
            method: 'GET',
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            }
        })
        .then(response => response.json())
        .then(data => {
            updateTable(data.books);
            // Limpiar el campo de búsqueda
            document.getElementById("search-input").value = "";
            // Restablecer los selectores de ordenación a sus valores predeterminados
            document.getElementById("orderSelect").value = "titulo";
            document.getElementById("directionSelect").value = "ASC";
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
    
</script>
{% endblock %}
